# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.production
.env.development

src/api OLD/jsx
src/App OLD/jsx
src/components/Select-with-search-component OLD.jsx
src/components/merchant-app/SideMenu-component OLD.jsx
src/modal/merchant-app/Add-menu-modal OLD.jsx
src/modal/Detail-menu-modal OLD.jsx
src/pages/Login-page OLD.jsx
src/pages/Merchant-page OLD.jsx
src/pages/merchant-app/Time-operational-page OLD.jsx
src/styles/modal/merchant-app/Add-menu-modal OLD.module.css
src/styles/components/merchant-app/SideMenu OLD.module.css
