.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100vh;
	background: #00000050;
	font-family: var(--font);
	overflow: auto;
	z-index: 500;
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}

.modal.open {
	opacity: 1;
	pointer-events: auto;
}

.modal .box {
	position: relative;
	top: 50%;
	transform: translateY(-50%) scale(.9);
	transform-origin: 90% 100%;
	margin: auto;
	background: white;
	box-shadow: var(--box-shadow);
	width: 80%;
	max-width: 800px;
	border-radius: 25px;
	padding: 25px;
	box-sizing: border-box;
	transition: .5s;
}

.modal.open .box {
	transform: translateY(-50%) scale(1);
}

.modal .box .title {
	margin-bottom: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.modal .box > span {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	box-sizing: border-box;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	align-content: center;
	font-size: 1.3rem;
	cursor: pointer;
	transition: .3s;
}

.modal .box > span:active {
	background: var(--gray-2-color);
	transition: 0;
}

.modal .box .body {
	display: flex;
	gap: 15px;
}

.modal .box .body .left,
.modal .box .body .middle,
.modal .box .body .right {
	flex: 1;
}

.modal .box .body .left {
	display: flex;
	flex-direction: column;
	gap: 10px;
/* 	align-content: center; */
align-items: center;
justify-items: center;
}

.modal .box .body .left .picture {
	position: relative;
	width: 90%;
	padding-top: 90%;
	border: 1px solid var(--gray-color);
	border-radius: 15px;
	overflow: hidden;
}

.modal .box .body .left .picture img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.modal .box .body .left input[type='file'] {
	display: none;
}

/* .modal .box .body .left .btnUpload { */
	.btnUpload {
		padding: 10px;
		box-sizing: border-box;
		border-radius: 10px;
		border: 1px solid var(--blue-2-color);
		font-size: .8rem;
		color: var(--blue-2-color);
		cursor: pointer;
	}

	.modal .box .body .middle {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.modal .box .body .middle .inputGroup {
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
	}

	.modal .box .body .middle .inputGroup > label {
		font-size: .83rem;
		color: var(--gray-color);
	}

	.modal .box .body .middle .inputGroup input {
		height: 30px;
		background: transparent;
		border: none;
		border-bottom: 1px solid var(--gray-color);
		padding: 0 5px;
		font-family: var(--font);
		font-size: .9rem;
/* 	letter-spacing: 1px; */
transition: .5s ease;
}

.modal .box .body .middle .inputGroup input::placeholder,
.modal .box .body .middle .inputGroup textarea::placeholder {
	font-family: var(--font);
	font-size: .85rem;
	color: #cfcfcf;
	font-style: italic;
}

.modal .box .body .middle .inputGroup textarea {
	background: transparent;
	padding: 5px;
	resize: none;
	border: none;
	border-bottom: 1px solid var(--gray-color);
	padding: 0 5px;
	font-family: var(--font);
	font-size: .9rem;
/* 	letter-spacing: 1px; */
line-height: 1rem;
transition: .5s ease;
}

.modal .box .body .middle .inputGroup input:focus-visible,
.modal .box .body .middle .inputGroup input:focus,
.modal .box .body .middle .inputGroup textarea:focus-visible,
.modal .box .body .middle .inputGroup textarea:focus {
	outline: none;
	border-bottom: 1px solid #0066ff;
}

.modal .box .body .right {
	display: flex;
	flex-direction: column;
}

.modal .box .body .right .title {
	text-align: left;
	font-size: 1.1rem;
	margin-bottom: 10px;
	letter-spacing: 0;
}

.modal .box .body .right .title i {
	margin-left: 5px;
	color: var(--blue-2-color);
	cursor: pointer;
}

.modal .box .body .right .multipleInputContainer {
	display: grid;
	margin-bottom: 10px;
}

.modal .box .body .right .multipleInputContainer .title {
	display: flex;
	margin-bottom: 5px;
	font-weight: normal;
	align-items: center;
}

.modal .box .body .right .multipleInputContainer .title label {
	font-size: .9rem;
}

.modal .box .body .right .multipleInputContainer .title span {
/* 	margin-right: 3px; */
padding: 3px 7px;
box-sizing: border-box;
border-radius: 5px;
/* 	font-size: .7rem; */
font-size: .8rem;
color: var(--blue-2-color);
cursor: pointer;
}

/* .modal .box .body .right .multipleInputContainer .title .btnEdit {
	border: 1px solid var(--blue-2-color);
	color: var(--blue-2-color);
}

.modal .box .body .right .multipleInputContainer .title .btnDelete {
	border: 1px solid var(--danger-color);
	color: var(--danger-color);
} */

.modal .box .body .right .multipleInputContainer .multipleInput {
	position: relative;
	display: flex;
	gap: 7px;
	flex-wrap: wrap;
	row-gap: 10px;
}

.modal .box .body .right .multipleInputContainer .multipleInput button {
	height: 40px;
	margin-left: 5px;
	align-content: center;
	background: transparent;
	padding: 3px 10px;
	box-sizing: border-box;
	border: 1px solid var(--blue-2-color);
	border-radius: 7px;
	font-family: var(--font);
	font-size: .7rem;
	color: var(--blue-2-color);
	cursor: pointer;
}

.modal .box .body .right .multipleInputContainer .multipleInput .card {
	background: #ededed;
	padding: 5px 10px;
	box-sizing: border-box;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	font-size: .8rem;
	box-shadow: 0 5px 10px -4px #0000008f;
	cursor: pointer;
}

/* .modal .box .body .right .multipleInputContainer .multipleInput .card.new {
	animation: show .5s ease;
}

@keyframes show {
	from {
		transform: scale(0);
		transform-origin: top;
	}

	to {
		transform: scale(1);
	}
} */

.modal .box .body .right .multipleInputContainer .multipleInput .card h3 {
	text-align: right;
	font-weight: bold;
}

.modal .box .footer {
	margin-top: 25px;
	height: 37px;
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}

.modal .box .footer button {
	width: 150px;
	border-radius: 10px;
	font-size: .75rem;
}



/* POP UP */
.popUpContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #00000050;
	font-family: var(--font);
	z-index: -1;
	opacity: 0;
	transition: .15s;
}

.popUpContainer.open {
	z-index: 500;
	opacity: 1;
}

.popUpContainer .popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 250px;
	background: white;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	transition: .3s;
}

.popUpContainer.open .popUp {
	transform: translate(-50%, -50%) scale(1);
}

.popUpContainer .popUp .title {
	margin-bottom: 0;
	font-weight: bold;
	font-size: .8rem;
}

.popUpContainer .popUp span {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	font-size: .9rem;
	cursor: pointer;
}

.popUpContainer .popUp label {
	font-size: .75rem;
	margin-top: 5px;
}

.popUpContainer .popUp input {
	background: transparent;
	height: 20px;
	padding: 3px 5px;
	border-radius: 5px;
	border: 1px solid var(--blue-2-color);
	font-family: var(--font);
}

.popUpContainer .popUp input::placeholder {
	font-size: .7rem;
	font-style: italic;
}

.popUpContainer .popUp .btnGroup {
	margin-top: 5px;
	height: 30px;
	display: flex;
	gap: 5px;
}

.popUpContainer .popUp .btnGroup button {
	flex: 1;
	border-radius: 5px;
	font-size: .7rem;
}

@media (max-width: 500px) {
	.modal .box {
		width: 95%;
		top: 0;
		transform: scale(.9);
		margin-top: 25px;
		margin-bottom: 70px;
	}

	.modal.open .box {
		transform: scale(1);
	}

	.modal .box .body {
		flex-direction: column;
		gap: 25px;
	}

	.modal .box .body .picture {
		width: 55%;
		padding-top: 55%;
	}

	.modal .box .body .middle .inputGroup > label {
		font-size: .87rem;
	}

	.modal .box .body .middle .inputGroup input {
		height: 35px;
		font-size: 1rem;
	}

	.modal .box .body .middle .inputGroup textarea {
		font-size: 1rem;
	}

	.modal .box .body .right .title {
		font-size: 1.3rem;
	}

	.modal .box .body .right .multipleInputContainer .title label {
		font-size: 1.05rem;
	}

	.modal .box .body .right .multipleInputContainer .title span {
		font-size: .93rem;
	}

	.modal .box .body .right .multipleInputContainer .multipleInput .card {
		font-size: .95rem;
	}

	.modal .box .body .right .multipleInputContainer .multipleInput button {
		height: 40px;
	}

	.modal .box .footer {
		justify-content: center;
		height: 45px;
	}

	.modal .box .footer button {
		width: 50%;
	}

	.popUpContainer.open .popUp {
		top: 35%;
		transform: translate(-50%, -50%) scale(1.2);
	}
}